:root{
    --basecol: #65A8B1;
    --basecoldark: #5A979F;
    --basecolhover: #57BDD9;
    --textcol: #FF855F;
}
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--basecol);
    outline: none;
    user-select: none;
}
select {
    border: none;
}
option{
    color: white;
}
select option:checked{
    background-color: var(--basecoldark);
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #A1DFE8 0%, #65A7B0 71.35%);
}
#content-container {
    padding-top: 0;
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#title-field {
    text-align: center;
    width: 55%;
    justify-content: center;
    align-items: baseline;
    position: relative;
    top: -90px;
    opacity: 0;
    animation-name: show_titlefield;
    animation-timing-function: ease-in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}
@keyframes show_titlefield {
    to{
        top: 0;
        opacity: 1;
    }
}
#title-bar-back {
    display: flex;
    background-color: var(--basecoldark);
    padding-bottom: 1.5%;
    border-radius: 0 0 100vw 100vw;
    justify-content: center;
    height: 12vh;
    
}
#title-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;    
    background-color: white;
    border-radius: 0 0 100vw 100vw;   
    padding: 0;
}

#title-bar h1 {
    font-size: 200%;
    color: var(--basecol)
}
#title-bar h6{
    color: var(--basecol);
    font-size: 100%;
    font-weight: 500;
}
#body-field {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body-field *{
    display: flex;
}
#main-content {
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 90%;
    border-radius: 5vw;
    box-shadow: 0px 20px 0px #5A979F;
    opacity: 0;
    animation-name: show_container;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: relative;
    width: 60%;
}
@keyframes show_container {
    0%{
        display: flex;
        opacity: 1;
        top: -50px;
    }
    100%{
        opacity: 1;
        top: 0;
        min-width: 300px;
    }
}

#select-unit-field {
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 20%;
    justify-content: space-evenly;
}
#select-unit-field h3{
    font-size: 130%;
}
#select-unit-field #unit-select {
    padding: 0;
    background-color: var(--basecol);
    color: white;
    width: 30%;
    height: 40%;
    text-align: center;
    border-radius: 1.5vh;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    transition-property: background-color;
    transition-timing-function: ease-out;
    transition-duration: .5s;
}
#select-unit-field select:hover{
    background-color: var(--basecolhover);
}
#input-output-container{
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
#equal-container {
    width: 10%;
    height: 10%;
    justify-self: center;
    justify-content: center;
    align-self: center;
}
#left-input-container,
#right-input-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 60%;
    margin: 5%;
    padding: 0;
}
#left-input-container *,
#right-input-container *
{
    width: 100%;
}
#input-left,
#input-right {
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    border: 3px solid var(--basecol);
    border-bottom: 0;
    font-size: 4vw;
    font-weight: bolder;  
    text-align: center;
    color: var(--textcol);
}
#left-input-container select,
#right-input-container select
{
    background-color: var(--basecol);
    color: white;
    text-align: center;
    font-size:150%;
    text-transform: uppercase;
    height: 30%;
    font-weight: 500;
    width: 102%;
    border-radius: 0px 0px 20px 20px;
}
#left-input-container select:hover,
#right-input-container select:hover{
    background-color: var(--basecolhover);
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2vw;
    padding: 1%;
}
.headers{
    color: var(--textcol);
}

@media only screen and (max-width: 500px){
    #title-field{
        width: 90vw;;
    }
    #title-field h6{
        display: none;
    }
    #equal-container {
        transform: rotate(90deg);
        height: 4%;
        margin: 2%;
    }
    #left-input-container,
    #right-input-container{
        width: 80%;
        height: 100%;
    }
    #input-output-container{
        flex-direction: column;
        align-items: center;
    }
    #select-unit-field #unit-select {
        width: 50%;
    }
    #left-input-container select,
    #right-input-container select
    {
        font-size: 100%;
        height: 100%;
    }
    #input-right,
    #input-left{
        font-size: 200%;
    }
    #main-content{
        justify-content: space-evenly;
    }
    #title-bar-back,
    #title-bar{
        border-radius: 0 0 20px 20px;
    }
}